<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gaohui.NanoScan">

    <!--申请权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" /><!--这两个是蓝牙相关的权限-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /><!--这两个是蓝牙相关的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" /><!--震动的权限-->
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        tools:replace="allowBackup"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ScanListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="InfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="GraphActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="NanoBLEService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="NewScanActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- android:windowSoftInputMode="adjustPan" -->
        <!-- 当前窗口的内容将自动移动以便当前焦点从不被键盘覆盖和用户能总是看到输入内容的部分 -->
        <activity
            android:name="ConfigureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="DeviceInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="DeviceStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="ScanConfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="StoredScanDataActivity"
            android:screenOrientation="portrait" />

        <activity android:name="ScanActivity"
            android:screenOrientation="portrait" />

        <activity android:name="AboutActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gaohui.NanoScan.ActiveScanActivity"
            android:screenOrientation="portrait" />
    </application>

    <!-- android:screenOrientation  屏幕显示方向
          landscape：橫向
          portrait：纵向
          sensor：根据物理方向传感器确定方向. 取决于用戶手持的方向, 当用戶转动设备, 它跟隨改变
        -->

</manifest>
